body {
    background-color: #F0F0F0;
}

h1 {
    color: rgb(11, 9, 116);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(8, 15, 75);

}
.section {
    background-image: url('D:\Estudios\VicioAnime\Imagenes/OIP.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    /* otros estilos */
}